.Aboutme {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(39, 39, 38);

}

p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    color: #ececec;
    font-size: 14px;
}




@media screen and (min-width: 600px) {
    .Aboutme {
        display: grid;
        grid-template-rows: 20% 80%;
        background-color: rgb(39, 39, 38);
    }

    .TextAboutme {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .Column1Aboutme {
        display: grid;
        justify-content: space-between;

    }
}